# Ignore build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
*.o
*.obj
_deps
*.exe
*.pyc
__pycache__/
*.vcxproj
*.filters
*.vcproject
dist/
*.egg-info/
# Ignore IDE specific files
.vscode/
# Ignore Python virtual environments
venv/
